langchain-core
python-dotenv
streamlit
langchain-community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia
langchainhub
langgraph
groq
langchain-groq
langchain-ollama
sentence-transformers
langchain-huggingface
pinecone-client 
pinecone-text 
pinecone-notebooks
neo4j
langchain-neo4j